<div class="card mb-3">
  <div class="card-header">
    작성자: <a class="card-link" href="{% url 'accounts:profile' article.user %}"> {{ article.user }} </a>
    <!--이게 실제로는 for문 안이라서 article사용 가능-->
  </div>
  <div class="card-body">
    <h5 class="card-title"><span style="font-size: 13px;">글 제목: </span>{{ article.title }}</h5>
    <p class="card-text">{{ article.pk }}</p>
    <hr>
    <p class="card-text">
      <!-- <a href="{% url 'articles:like' article.pk %}"> --> <!-- get 방식으로 보내는 거라 전체 페이지가 새로고침 됨. --> 
        {% if user in article.like_users.all %}
        <i class="fab fa-gratipay fa-lg like-button" style="color: crimson;" data-id="{{ article.pk }}"></i>
        {% else %}
        <i class="fab fa-gratipay fa-lg like-button" style="color: black;" data-id="{{ article.pk }}"></i>
        {% endif %}
      <!-- </a> -->
      <span id="like-count-{{ article.pk }}">{{ article.like_users.all|length }}</span>명이 이 글을 좋아합니다.
      <a href="{{ article.get_absolute_url }}" class="btn btn-outline-info float-right display-inline">DETAIL</a>
    <!--get_absolute_url의 reverse는 문자열로 리턴되는 것 그래서 {%가 아니라{{-->
    </p>
    
  </div>
</div>