{% extends 'articles/base.html' %}
{% load bootstrap4 %}

{% block content %}

{% if request.resolver_match.url_name == 'create' %}
  <h1>CREATE</h1>
{% else %}
  <h1>UPDATE</h1>
{% endif %}

<form action="" method="POST">
  <!--액션에 값 안 넣으면 그냥 현재 주소로 포스트 방식으로 보냄. # 넣으면 안 됨-->
  {% csrf_token %}
  {% comment %} {{ form.as_p }} {% endcomment %}
  <!--라벨링도 알아서 되어 있음-->
  {% comment %}
  <!--1번 방법 -->
  {{ form.title.label_tag }}
  {{ form.title }}
  {{ form.content.lael_tag }}
  {{ form.content}} {% endcomment %}

  {% comment %}
  <!--2번 방법-->
  {% for field in form %}
  {{ field.label_tag }}
  {{ field }}
  {% endfor %} {% endcomment %}
  {% comment %} <input type="submit" value="CREATE"> {% endcomment %}
  {% bootstrap_form form layout="horizontal"%} <!--form으로 넘어와서 form인 것. 다른 걸로 넘어오면 이름 바꿔줘야..-->
  {% comment %} {% buttons %} {% endcomment %}
  {% buttons submit='OK' reset="Cancel" %}{% endbuttons %}
    {% comment %} <button type="submit" class="btn btn-primary">Submit</button> {% endcomment %}
  {% comment %} {% endbuttons %} {% endcomment %}
</form>
<hr>
{% if request.resolver_match.url_name == 'create' %}
<a href="{% url 'articles:index' %}">BACK</a>
{% else %}
<a href="{{ article.get_absolute_url }}">BACK</a>
{% endif %}

{% endblock content %}