<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <!-- 스타벅스가 {{whatsup}}을 만들 때 <br><br>
    
    {{recomme1}}를 한 스푼<br>
    {{recomme2}}를 두 스푼<br>
    {{recomme3}}를 이따만큼
    -->

    신이 {{ name }} 을 만들 때 <br>{{ choice[0] }} 한 스푼<br>
        {{ choice[1] }} 두 스푼 <br>{{ choice[2] }} 으아아아아
</body>
</html>