{% extends 'base.html' %}

{% block base %}
<h1 class="text-center">EDIT</h1>
<form action="/articles/{{article.pk}}/update/" method="POST">
  {% csrf_token %}
  <label for="title">TITLE</label>
  <input type="text" name="title" id="title" value="{{article.title}} ">
  <!--value는 이전에 저장된 값을 가져오게 하려고-->
  <br>
  <label for="content">CONTENT</label>
  <textarea name="content" id="content" cols="30" rows="5">{{article.content}}</textarea>
  <!-- textarea는 value가 없기 때문-->
  <br>
  <input type="submit" value="submit">
</form>
  <a href="/articles/{{article.pk}}/">[BACK]</a><br>

{% endblock base %}