{% extends 'base.html' %}
{% load static %}

{% block base %}
<h1 class="text-center">UPDATE</h1>
{% if article.image %}
  <img src="{{ article.image.url }}" alt="sample">
{% else %}
  <img src="{% static 'articles/images/no.png' %}" alt="no_png">
{% endif %}
<form action="" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <label for="title">TITLE</label>
  <input type="text" name="title" id="title" value="{{article.title}} ">
  <!--value는 이전에 저장된 값을 가져오게 하려고-->
  <br>
  <label for="content">CONTENT</label>
  <textarea name="content" id="content" cols="30" rows="5">{{article.content}}</textarea><br>
  <!-- textarea는 value가 없기 때문-->
  <label for="image">IMAGE</label>
  <input type="file" name="image" id="image" accept="image/"><br>
  <br>
  <input type="submit" value="submit">
</form>
  <a href="{{ article.get_absolute_url }}">[BACK]</a><br>

{% endblock base %}