div {
  width: 100px;
  height: 100px;
  background-color: #9999ff;
  text-align: center;
  line-height: 100px;
}

.float-left {
  float: left;
}

.back {
  background-color: orange;
  width:300px;
}

.float-right {
  float: right;
}

.clear {
  clear: both;
  /* 왼쪽 오른쪽 둘 다 float무시 */
}